In [ ]:
import sqlite3
import matplotlib.pyplot as plt

# Conecte-se ao banco de dados SQLite
conn = sqlite3.connect('sqlite.db')   #banco de dados
cursor = conn.cursor()



# Executar a consulta SQL
consulta_sql = """
SELECT
    strftime('%Y', strftime('%Y-%m-%d', substr(Data_da_Venda, 7, 4) || '-' || substr(Data_da_Venda, 4, 2) || '-' || substr(Data_da_Venda, 1, 2))) AS ano,
    sum(case WHEN strftime('%m', strftime('%Y-%m-%d', substr(Data_da_Venda, 7, 4) || '-' || substr(Data_da_Venda, 4, 2) || '-' || substr(Data_da_Venda, 1, 2))) BETWEEN '01' AND '03' then 1 else 0 end) AS 'Trimestre 1',
    sum(case when strftime('%m', strftime('%Y-%m-%d', substr(Data_da_Venda, 7, 4) || '-' || substr(Data_da_Venda, 4, 2) || '-' || substr(Data_da_Venda, 1, 2))) BETWEEN '04' AND '06' then 1 else 0 end) AS 'Trimestre 2',
    sum(case when strftime('%m', strftime('%Y-%m-%d', substr(Data_da_Venda, 7, 4) || '-' || substr(Data_da_Venda, 4, 2) || '-' || substr(Data_da_Venda, 1, 2))) BETWEEN '07' AND '09' then 1 else 0 end) AS 'Trimestre 3',
    sum(case when strftime('%m', strftime('%Y-%m-%d', substr(Data_da_Venda, 7, 4) || '-' || substr(Data_da_Venda, 4, 2) || '-' || substr(Data_da_Venda, 1, 2))) BETWEEN '10' AND '12' then 1 else 0 end) AS 'Trimestre 4',
	sum(Valor) AS total_vendas
FROM DB_Teste
GROUP BY ano;
"""
cursor.execute(consulta_sql)

# Recuperar os dados
dados = cursor.fetchall()
trimestres = [row[1] for row in dados]
total_vendas = [row[2] for row in dados]
trimestres = ['Trimestre 1', 'Trimestre 2', 'Trimestre 3', 'Trimestre 4']
# Plotar o gráfico de barras
plt.figure(figsize=(12, 6))
plt.bar(range(len(trimestres)), total_vendas)
plt.xlabel('Trimestres')
plt.ylabel('Total de Vendas')
plt.title('Total de Vendas por Trimestre')
plt.xticks(range(len(trimestres)), trimestres, rotation=45, ha='right')

# Mostrar o gráfico
plt.show()

# Fechar a conexão com o banco de dados
cursor.close()
conn.close()